          <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">

          <h5 class="card-title">{{item.name}}</h5>
<div id="template">
  <img src="{{item.pic}}" id="pic1" width="200" height="200" alt="pic{{item.id}}">
</div>
          
          <p>
            <strong>Description:</strong> {{item.description}}
          </p>
          <p>
            <strong>Type</strong>: {{item.type}}
          </p>
                    <p>
            <strong>Material</strong>: {{item.material}}
          </p>
                    <p>
            <strong>Colors</strong>: {{item.color}}
          </p>
                    <p>
            <strong>Seasons</strong>: {{item.season}}
          </p>
                    <p>
            <strong>Price</strong>: {{item.price}}
          </p>
            <a href="/all">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

