<div class="container content">
    <div class="row">
        <div class="col-md-6">
                <div class="form-group">
  <img src="{{item.pic}}" class="pic-500" id="pic1" alt="pic{{item.id}}">
                </div>
        </div>
        <div class="col-md-6">
          <h5 class="card-title">{{item.name}}</h5>
          <div>
           <p>
            <strong>Description:</strong> {{item.description}}
          </p>
          <p>
            <strong>Type</strong>: {{item.type}}
          </p>
                    <p>
            <strong>Material</strong>: {{item.material}}
          </p>
                    <p>
            <strong>Colors</strong>: {{item.color}}
          </p>
                    <p>
            <strong>Seasons</strong>: {{item.season}}
          </p>
                    <p>
            <strong>Price</strong>: {{item.price}}
          </p>
            <a href="/all">← Back To Home</a>
        </div>
                
        </div>
    </div>
</div>
