          <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">

          <h5 class="card-title">{{item.name}}</h5>
          <input type="hidden" value="{{item.pic}}" id="pic1url"> 
<div id="template">
  <img src="" id="pic1" width="200" height="200" alt="pic{{item.id}}">
</div>
          
          <p>
            <strong>Description:</strong> {{item.description}}
          </p>
          <p>
            <strong>Type</strong>: {{item.type}}
          </p>
                    <p>
            <strong>Material</strong>: {{item.material}}
          </p>
                    <p>
            <strong>Colors</strong>: {{item.color}}
          </p>
                    <p>
            <strong>Seasons</strong>: {{item.season}}
          </p>
                    <p>
            <strong>Price</strong>: {{item.price}}
          </p>
            <a href="/admin">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  //$("#pic1").attr("src",$("#pic1url").val());
  var dataUrl=$("#pic1url").val();
  var output = document.getElementById('pic1');
    output.src = dataUrl;
    //item.pic=dataURL;
});
</script>
