  <!doctype html>
<html lang="en">

<head>

</head>

<body>
  <main role="main">
<section class="container text-center">
      {{#if items}}
      <h1 class="cz-h1">Favorite Collection</h1>
      {{else}}
      <h2>No items found.</h2>
      {{/if}}

      <div class="row">
        {{#each items}}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="/item/{{this.id}}"><span class='zoom'><img class="card-img-top" id="item-pic{{this.id}}" src="{{this.pic}}" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
              alt="item pic"></span></a>
            <div class="card-body">
              <p class="card-text">{{this.name}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{this.type}}</small>
                <small class="text-muted">{{this.material}}</small>
                <small class="text-muted">{{this.color}}</small>
                <small class="text-muted">{{this.season}}</small>
                <small class="text-muted"><a href="/message/{{this.id}}" ><img src="/images/message-icon.png" width="16" height="16" title="Send a message"></a></small>
                <small class="text-muted"><a href="#" onclick="removeFromWishList({{this.id}});"><img src="/images/trash-icon.png" width="16" height="16" title="Remove item"></a></small>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </section>
  </main>
  <script type="text/javascript" src="/js/members.js"></script>
  <script type="text/javascript" src="/js/lib/sweetalert.min.js"></script>
  <script type="text/javascript" src="/js/wishlist.js"></script>
</body>

</html>
  
  
  